<%- include('partials/header', { title: 'Images' }) %>
<%- include('partials/navbar') %>
<%- include('partials/hero') %>
<%- include('partials/alerts') %>
<%- include('partials/sidebar') %>

<div class="container py-4 text-center">
  <h1>Gallery</h1>
  <p>Browse our previous jobs.</p>
</div>
<script src="/script.js"></script>
<%- include('partials/footer') %>
